*.cpp           eol=lf
*.hpp           eol=lf
*.h             eol=lf
*.c             eol=lf
*.sh            eol=lf
*.pl            eol=lf
*.cmake		eol=crlf

*.txt           text
*.csv           text

*.vcproj        eol=crlf
