*.o
*.a
bin/
lib/
*~
*.sav
*.aux
*.sen
*.sim
*.vcxproj*
*.sln
*.opensdf
*.sdf
*.suo

# Profiling output files
*gmon.out
*callgrind*

# Cmake ignores
*CMakeFiles
*.cmake
build/
Testing/
*CMakeCache.txt
Debug/
Release/
*.dir/
*.project
*.cproject
Makefile
src/brush/Makefile
src/camflow/Makefile
src/io/camxml/Makefile
src/io/comostrings/Makefile
src/io/chemkinReader/Makefile
src/io/odesolvers/cvode/Makefile
src/io/odesolvers/cvodes/Makefile
src/geometry/Makefile
src/mopsc/Makefile
src/sprogc/Makefile
src/sweepc/Makefile

# Executables built by cmake
mops-app
brush-app
camflow-app
brush-moonmd-test
sprogc-test
PAHkmc-app
chemkinReader-test
*.exe

#VSCode environment files
.vscode*

# log files
*log*

# Patches
*.patch

#Openbabel installation folder
openbabel-2.3.1-Git/openbabel-2.3.1
openbabel-2.3.1-Git