*.o
*.a
bin/
lib/
*~
*.sav
*.aux
*.sen
*.sim

# Profiling output files
*gmon.out
*callgrind*

# Cmake ignores
*CMakeFiles
*.cmake
build/
Testing/
*CMakeCache.txt

# Executables built by cmake
mops-app
brush-app
camflow-app
brush-moonmd-test

# log files
*log*

# Patches
*.patch
